<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jp.co.brycen.MimamoriDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jp.co.brycen.MimamoriDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <jp.co.brycen.MimamoriDemo.Properties.Settings>
            <setting name="CsvFilePath" serializeAs="String">
                <value>C:\\Users\\P0828\\recv.csv</value>
            </setting>
            <setting name="GraphInterval" serializeAs="String">
                <value>3000</value>
            </setting>
        </jp.co.brycen.MimamoriDemo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <jp.co.brycen.MimamoriDemo.Properties.Settings>
            <setting name="DeviceList" serializeAs="String">
                <value>端末１,端末２,端末３</value>
            </setting>
            <setting name="CsvFilePath2" serializeAs="String">
                <value>C:\\Users\\P0828\\device_state.csv</value>
            </setting>
            <setting name="TargetMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="MinTemp" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxHumid" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinHumid" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CsvFilePath3" serializeAs="String">
                <value>C:\\Users\\P0828\\supply_state.csv</value>
            </setting>
        </jp.co.brycen.MimamoriDemo.Properties.Settings>
    </userSettings>
</configuration>
